[user]
	name = Thomas Jensen
	email = thomas.jensen_@outlook.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[safe]
	directory = /Volumes/Prestige
	directory = /Volumes/Prestige/dev/th0jensen/portfolio
